body {
    margin: 0;
    font-family: "Lucida Grande";
    
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
  }
  h1 {
	color: whitesmoke;
}
h2 {
	color: black;
    margin-top: 100px;
    font-size: 50px;
      text-decoration: underline;
    }
  
   
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    /* Ubah position ke fixed, dan top ke 0 */
    position:fixed;
    top:0;
    
    /* Ubah z-index ke 10 */
    z-index:10;
  }
  
 
  
  .header-left {
    float: left;
  }
  .header-center {
    float: center;
  }
   .hasil{
       text-align: center;
       padding-top:10% ;
       width: 50px;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }
  
 
  .table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cari {
  margin: 10px auto;
  width: 400px;
  padding: 5px;
  border: 1px solid #ccc;
  background: lightblue;
}
.input{
  margin: 5px auto;
  
  width: 100%;
  padding: 10px;
}


